bin/
obj/
out/

*.user
*.suo
*.userosscache
*.sln.docstates

*.nupkg
.nuget/
packages/

*.log
*.tmp
*.lock
*.cache
*.pdb
*.db
*.sqlite

.publish/
appsettings.*.json

.DS_Store
*.vs/
*.swp
.idea/
.vscode/

.env
.env.*

*.bak
*.orig
*.err
